/*Colocando o module no nome do arquivo para especificar para qual arquivo apenas ele vai responder */

.header {
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;  /* 32px */
}